/*styles.css*/
/*  styles for entire site, anything not specific to game or navigation bar*/

* {
  box-sizing: border-box;
}
html, body {
	background-color: #fff;
	font-family: "tahoma";
	font-size: 16px;
  width: 100%;
  min-width: 360px;
  margin: 0;
  padding: 0;
}


/*Main content styles for each page*/
.main-content {
	width: 60%;
	min-width:720px;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
}



/*bio styles*/
.bio-wrap{
	display:block;
/*	width:80%;
	margin: 0px auto 0px auto;*/
}

.bio-pic{
	display:inline-block;
	position:relative;
	width:auto;
	vertical-align: top;
	margin-top:22px;
}

.bio{
	display: inline-block;
	position:relative;
	width:60%;
	min-width:400px;
	margin-left: 10%;
	vertical-align: top;
}




